<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
           
        <div class="navbar-left logo"></div>
          <h1 class="brand brand-name navbar-left"><div class="navbar-left">WeConnect</h1></div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
             <li><%= link_to 'Message', conversations_path %></li>
             <li><%#= image_tag current_user.avatar.url(:thumb), class: "profile" %></li>
             <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "logo" %></li>
            <% else %>
             <li><%= link_to 'Sign Up', new_user_registration_path %></li>
             <li><%= link_to 'Sign In', new_user_session_path %></li>
           <% end %>
          </ul>
        </div>
    </div>
  </div>
</nav>